.header__container {
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
  padding: 0 104px;
  min-height: 80px;
}