.card__trashcan {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 11px;
  margin-right: 20px;
  cursor: pointer;
}

.card__trashcan:hover .trashcan {
  background-image: url(../../../images/trash-black.svg);
}

.card__trashcan:focus {
  outline: none;
}

.card__trashcan:hover .card__suggest {
  visibility: visible;
}

@media (max-width: 1330px) and (min-width: 1090px) {
  .card__trashcan {
    margin-right: 10px;
  }
}

@media (max-width: 1089px) and (min-width: 768px) {
  .card__trashcan {
    margin-right: 8px;
  }
}

@media (width: 768px) {
  .card__trashcan:hover .card__suggest {
    visibility: hidden;
  }
}