.cardbox {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 64px;
  width: 100%;
}

@media (max-width: 767px) and (min-width: 320px) {
  .cardbox {
    padding-bottom: 15px;
  }
}