@import url('./_underline/menu__item_underline.css');
@import url('./_inactive/menu__item_inactive.css');

.menu__item a {
  font-size: 18px;
  line-height: 74px;
  font-weight: 500;
  margin-left: 32px;

  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
}