.card__suggest {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  position: absolute;
  line-height: 14px;
  color: #000000;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 13px;
  top: 0;
  right: 20%;
  text-align: center;
  margin: 0;
  visibility: hidden;
}